pipeline/untilactivity.json
{
	"name": "untilactivity",
	"properties": {
		"activities": [
			{
				"name": "Until activity to check Untilfalg",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('Untilflag'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"description": "Wait for 2 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Lookup1",
							"description": "lookup for refreshed column as status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select refreshed as status from t_status",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onPremise",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "if condition to change untilflag to true",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Lookup1').output.firstRow.status,'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "Untilflag",
											"value": "true"
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Copy datat from ftp to onPrem sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until activity to check Untilfalg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"useBinaryTransfer": true,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate table Cars",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Make",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Make",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Model",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Model",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Origin",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Origin",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DriveTrain",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DriveTrain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Length",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Length",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Inputdataset_ftp",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputTable",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Cars"
						}
					}
				]
			}
		],
		"variables": {
			"Untilflag": {
				"type": "String",
				"defaultValue": "false"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-18T11:10:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}